.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  width: 350px;
  padding: 10px;
  /* justify-content: center; */
  justify-self: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ GENERAL STYLES ~~~~~~~~~~~~~~~~~~~~~~~ */

.button {
  background: #ffc400;
  /* border: 1px solid transparent; */
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ GENERAL STYLES ~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~ TOP SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */

.search-container{
  display: flex;
  gap: 20px;
  width: 100%;
}

.search-container .add-button{
  margin-left: 10px;
}

.list-buttons-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-box {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.full-list-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%;
}

.full-list-button:hover {
  background-color: #0056b3;
}

.add-button {
  /* margin-top: 20px; */
  padding: 9px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  /* border-radius: 5px; */
}

.add-button:hover {
  background-color: #218838;
}

.data-buttons{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: row; */
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ TOP SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ FILTER SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */
.filter-checkboxes {
  margin: 10px 0 10px 0;
  padding: 3px 2px 3px 2px;
  display: flex;
  gap: 20px;
  background: #3a3a3a50;
  border-radius: 3px;
  width: 100%;
}

.filter-checkboxes label {
  font-size: 14px;
  cursor: pointer;
}

.filter-checkboxes input {
  margin-right: 5px;
}

.filter-options {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.filter-options h3 {
  margin-bottom: 10px;
}

.filter-options label {
  display: block;
  margin-bottom: 10px;
}

.filter-options input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-options button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-options button:hover {
  background-color: #0056b3;
}

.filter-buttons {
  margin-bottom: 10px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.advanced-filter-container {
  display: flex;
  background-color: #3636364d;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
}
.advanced-filter-button {
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ FILTER SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ MIDDLE SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */

.title-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
}

.title-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: #454a5542;
  border-radius: 3px;
  margin: 0 0 3px 0;
  transition: 0.3s;
}

.title-list li:hover {
  background: #5858587a;
  transition: 0.3s;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ MIDDLE SECTION ~~~~~~~~~~~~~~~~~~~~~~~ */

.sort-dropdown {
  margin-bottom: 20px;
}

.sort-dropdown label {
  margin-right: 10px;
  font-size: 14px;
}

.sort-dropdown select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-item-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin: 20px auto;
}

.add-item-form h2 {
  margin-bottom: 20px;
}

.add-item-form label {
  display: block;
  margin-bottom: 10px;
}

.add-item-form input,
.add-item-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item-form button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.add-item-form button:first-of-type {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.add-item-form button:first-of-type:hover {
  background-color: #0056b3;
}

.add-item-form button:last-of-type {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}

.add-item-form button:last-of-type:hover {
  background-color: #c82333;
}

.tv-show-details {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  margin: 10px 0;
}

.episode-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.high-rating {
  background-color: green;
  color: white;
}

.medium-rating {
  background-color: yellow;
  color: black;
}

.low-rating {
  background-color: red;
  color: white;
}
